<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{ if eq .Title "Home" }}
            taavi.wtf
        {{ else }}
            {{ if .Title }}
            {{ .Title }} &ndash;
            {{ end }}
            {{ .Site.Title }}
        {{ end }}
    </title>

    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />

    <meta property="og:site_name" content="{{ .Site.Title }}">
    {{ template "_internal/opengraph.html" . }}

    {{ if .Site.IsServer }}
    {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/dev/postcss.config.js") }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ else }}
    {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    {{ end }}
    <link rel="preload" as="font" href="https://static.taavi.wtf/fonts/Iosevka/4.1.0/woff2/iosevka-taavi-regular.woff2" crossorigin>
    <link rel="preload" as="font" href="https://static.taavi.wtf/fonts/Iosevka/4.1.0/woff2/iosevka-taavi-bold.woff2" crossorigin>

    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ .Name }}" />
    <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ .Name }}" />
    {{ end }}
</head>

<body class="font-mono text-white bg-black border-t-8 border-pink-700">
    <div class="container mx-auto max-md:px-4">
        <header class="w-full py-12">
            <nav class="flex justify-between">
                <div>
                    <a href="{{ .Site.Home.Permalink }}" class="p-2 bg-pink-700 hover:underline">
                        {{ .Site.Title }}
                    </a>
                </div>

                <div class="flex">
                    {{ range .Site.Menus.main }}
                        <a href="{{ .URL }}" class="mx-2 link hover:text-pink-400">{{ .Name }}</a>
                    {{ end }}
                </div>
            </nav>
        </header>

        {{- block "main" . }}{{- end }}

        <footer class="mt-6 mb-6 text-xs text-gray-400">
            <p class="text-gray-600" aria-hidden="true">
                &mdash;&mdash;&mdash;&mdash;&mdash;
            </p>

            <p>
                &copy; Taavi Väänänen 2021
            </p>

            <p>
                <a href="/licensing/" class="link">licensing information</a>
            </p>
        </footer>
    </div>
</body>
</html>
