{{ define "main" }}
    <div>
        <h1 class="text-3xl font-bold text-gray-300">{{ .Title }}</h1>
        <div class="rich-text">
            {{ .Content }}
        </div>
    </div>

    <div class="rich-text">
        <ul>
            {{ range .Pages }}
            {{ if not .Params.hidden }}
            <li>
                {{ if ne (.PublishDate.Format "2006-01-02") "0001-01-01" }}
                <span class="text-white">[{{ .PublishDate.Format "2006-01-02" }}]</span>
                {{ end }}
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </div>

    {{ if ( gt ( len .Pages ) 0 ) }}
        {{ with .OutputFormats.Get "RSS" }}
        <p>
            <a href="{{ .RelPermalink }}" class="text-sm text-white link">
                RSS feed
            </a>
        </p>
        {{ end }}
    {{ end }}
{{ end }}