@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Iosevka Taavi Web";
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  font-display: fallback;
  src: url("https://static.taavi.wtf/fonts/Iosevka/4.1.0/woff2/iosevka-taavi-regular.woff2")
      format("woff2"),
    url("https://static.taavi.wtf/fonts/Iosevka/4.1.0/ttf/iosevka-taavi-regular.ttf")
      format("truetype");
}

@font-face {
  font-family: "Iosevka Taavi Web";
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  font-display: fallback;
  src: url("https://static.taavi.wtf/fonts/Iosevka/4.1.0/woff2/iosevka-taavi-bold.woff2")
      format("woff2"),
    url("https://static.taavi.wtf/fonts/Iosevka/4.1.0/ttf/iosevka-taavi-bold.ttf")
      format("truetype");
}

html {
  font-size: 18px;
}

.link:not(:hover) {
  @apply underline;
}

.code {
  @apply p-1 text-pink-300 bg-gray-900;
}

@media (prefers-reduced-motion: no-preference) {
  .taavi-fadein {
    animation-duration: 0.8s;
    animation-name: taavi-fadein;
    animation-fill-mode: both;
  }
}

@keyframes taavi-fadein {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* purgecss start ignore */
hr {
  @apply text-gray-500;
}

.rich-text {
  & > * {
    @apply py-2;
  }

  & li > p {
    @apply inline-block pt-0;
  }

  & a {
    @apply text-gray-100;

    &:not(:hover) {
      @apply underline;
    }
  }

  & h1,
  & h2,
  & h3 {
    @apply font-bold text-gray-300;
  }

  & h1 {
    @apply mt-2 text-4xl;
  }

  & h2 {
    @apply mt-6 text-2xl;
  }

  & h3 {
    @apply mt-4 text-xl;
  }

  & pre {
    @apply p-2 bg-gray-900;
    background-color: theme("colors.gray.900") !important;
  }

  & th {
    @apply font-bold text-gray-100;
  }

  & th,
  & td {
    @apply pr-4 text-left align-top;
  }

  & :not(pre) > code {
    @apply code;
  }

  & blockquote {
    @apply p-1 pl-4 my-2 bg-gray-900 border-l-8 border-pink-600;
  }

  & ul {
    @apply pl-4 list-none;

    & li {
      &::before {
        @apply pr-2 font-bold text-pink-600;
        content: "›";
      }
    }
  }

  & img {
    @apply block;
  }

  & dl {
    & dt {
      @apply mt-1 font-bold text-gray-200;
    }

    & dd {
      @apply mb-1 ml-4;
    }
  }
}
/* purgecss end ignore */
